header {
  background-color: darkblue;
  color: white;

  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    i {
      font-size: 2rem;
    }

    span {
      font-size: 1.3rem;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;

    .nav-links {
      display: flex;
      gap: 1.5rem;
      margin: 0;
      padding: 0;
      list-style: none;

      .nav-link a {
        text-decoration: none;
        color: white;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          text-decoration: underline;
        }
      }
    }
  }

  .links {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;

    a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
